services:
    # alias for backwards compatibility
    contao.image.image_sizes: '@contao.image.sizes'
    Psr\Container\ContainerInterface: '@service_container'

    # Content Elements
    Oneup\ContaoPageTeaserBundle\ContentElement\PageTeasersElement:
        arguments:
            - "@contao.routing.scope_matcher"
            - "@oneup.page_teasers.template_helper"
        tags:
            - { name: contao.content_element, category: links }

    # Frontend Modules
    Oneup\ContaoPageTeaserBundle\FrontendModule\PageTeasersIndividualModule:
        arguments:
            - "@contao.routing.scope_matcher"
            - "@oneup.page_teasers.template_helper"
        tags:
            - { name: contao.frontend_module, category: navigationMenu }

    Oneup\ContaoPageTeaserBundle\FrontendModule\PageTeasersModule:
        arguments:
            - "@contao.routing.scope_matcher"
            - "@oneup.page_teasers.template_helper"
            - "@contao.security.token_checker"
        tags:
            - { name: contao.frontend_module, category: navigationMenu }

    # Helpers
    oneup.page_teasers.dca_helper:
        class: Oneup\ContaoPageTeaserBundle\Helper\DcaHelper
        public: true
        arguments:
            - "@security.token_storage"
            - "@contao.image.image_sizes"

    oneup.page_teasers.file_helper:
        class: Oneup\ContaoPageTeaserBundle\Helper\FileHelper
        arguments:
            - "%kernel.project_dir%"

    oneup.page_teasers.template_helper:
        class: Oneup\ContaoPageTeaserBundle\Helper\TemplateHelper
        arguments:
            - "@contao.insert_tag.parser"
            - "@contao.routing.content_url_generator"
